numba
progress
matplotlib
scipy>=1.4.1
torch==1.1.0
torchvision==0.3.0
albumentations
pyrr
simplejson
tqdm
opencv-python>=4.5.3.56
numpy
scikit-learn==0.22.2
filterpy>=1.4.5
setuptools>=49.6.0
frozendict
tensorflow
requests
